# Web Framework
fastapi == 0.109.0
uvicorn[standard] >= 0.27.0

# Data Processing
pandas ~= 2.2.0
numpy >= 1.26.0

# Utilities
python-dotenv # Always get the latest
requests == 2.31.0
sqlalchemy == 2.0.19
psycopg2-binary == 2.9.6
sqlmodel == 0.0.8

# Auth
bcrypt >= 4.0.0
python-jose[cryptography] >= 3.3.0
email-validator >= 2.0.0